<div class="main">
        <%=image_tag("russia.jpg", {:alt=>"russia", :style=>"width: 100%;z-index:-1;", :class=>"russia"})%>

    <div class="main_info">
        <div class="info_text">
            <p>대한민국의 우수한 제품을 러시아 및 CIS 국가에 수출합니다.</p>
            <p>ЭКСПОРТИРУЕМ  КАЧЕСТВЕННЫЕ ТОВАРЫ ЮЖНОЙ КОРЕИ  В РОССИЮ И СТРАН СНГ.</p>
            <p>Export Korean High Quality Products to Russia and CIS Countries.</p>
        </div>
    </div>
</div>

<div class="second_part">

    <div class="contact">
        <div class="contact_1"> <p>How to Contact</p> </div>

        <%=image_tag("contact.png", {:alt=>"contact_img", :style=>"width: 170vh;"})%>
    </div>

</div>